html{
    background: #F3F5FC;
}

.logo{
    position: absolute;
    left: 6%;
    top: 4%;
}

.entradaTexto{
    position: absolute;
    top: 16%;
    left: 17%;
    width: 50%;
    height: 60%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #0A3871;
    background-color: #F3F5FC;
    border: none;
}

.etiquetaAviso{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    top: 83%;
    left: 17%;
}

.botones{
    position: absolute;
    top: 87%;
    left: 17%;
    width: 48%;
    height: 7%;
}

.botones button{
    width: 40%;
    height: 100%;
    margin-right: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

.encriptar{
    background: #0A3871;
    border-radius: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
    color: #FFFFFF;
}

.desencriptar{
    background: #D8DFE8;;
    border-radius: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
    color: #0A3871;
}

.salidaTexto{
    position: absolute;
    width: 28%;
    height: 92%;
    left: 69%;
    top: 6%;
    background: #FFFFFF;
    border-radius: 32px;
}

.muneco{
    position: relative;
    left: 8%;
    top: 20%;
    width: 84%;
}

.etiquetasVacio{
    display: block;
    text-align: center;
    flex: none;
    align-self: stretch;
    flex-grow: 0;
    position: relative;
}

#ningunMensaje{
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    color: #343A40;
    top: 22%;
}

#ingresaTexto{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #495057;
    top: 22%;
}

.resultado{
    position: relative;
    top: 0;
    margin: 10% 15%;
    width: 70%;
    height: 80%;
    border: none;
    display: none;
}

.copiar{
    position: absolute;
    width: 80%;
    height: 10%;
    top: 88%;
    left: 10%;
    border: 1px solid #0A3871;
    border-radius: 24px;
    background-color: #FFFFFF;
    display: none;
}

@media screen and (max-width:912px) and (min-width:415px) {
    .entradaTexto{
        width: 65%;
        top: 10%;
        height: 58%;
    }

    .etiquetaAviso{
        top: 70%;
    }

    .botones{
        width: 80%;
        top: 73%;
    }

    .salidaTexto{
        width: 77%;
        left: 10%;
        top: 83%;
        height: fit-content;
    }

    .muneco{
        display: none;
        visibility: hidden;
        position: relative;
        width: 0%;
    }

    #ningunMensaje{
        margin: 5% 0 0 0;
    }

    #ingresaTexto{
        margin: 0 0 5%;
    }

    .copiar{
        position: relative;
        width: 85%;
        height: 75px;
        left: 10%;
        margin: 0 0 5%;
    }

    .resultado{
        margin: 5%;
        width: 89%;
        height: 10em;
    }
}

@media screen and (max-width:415px) {
    .entradaTexto{
        width: 90%;
        height: 53%;
        left: 5%;
    }

    .etiquetaAviso{
        top: 70%;
        font-size: 84%;
    }

    .botones{
        width: 80%;
        top: 73%;
    }

    .botones button{
        width: 38%;
        font-size: 14px;
    }

    .salidaTexto{
        width: 77%;
        left: 10%;
        top: 83%;
        height: fit-content;
    }

    .muneco{
        display: none;
        visibility: hidden;
        position: relative;
        width: 0%;
    }

    #ningunMensaje{
        margin: 5% 0 0 0;
    }

    #ingresaTexto{
        margin: 0 0 5%;
    }

    .copiar{
        position: relative;
        width: 85%;
        height: 75px;
        left: 10%;
        margin: 0 0 5%;
    }

    .resultado{
        margin: 5%;
        width: 89%;
        height: 10em;
    }
}